[run]
branch = True
source = src
omit = *__init__.py,*__main__.py*,*app.py,*settings.py,*routes.py

[report]
omit = *__init__.py,*__main__.py*,*app.py,*settings.py,*routes.py

[html]
directory = ./htmlcov
