[MASTER]
ignore=CVS,app.py,routes.py,settings.py

ignore-patterns=test_*,__init__.py,__main__.py

jobs=1


[MESSAGES CONTROL]

disable=missing-docstring,
        too-few-public-methods,
        no-name-in-module,
        c-extension-no-member,
        broad-except,
        arguments-differ,
        too-many-arguments,
        duplicate-code,
        arguments-renamed,
        len-as-condition,
        consider-using-f-string,
        invalid-name,
        line-too-long,
        fixme,
        no-self-use,
        abstract-method,
        no-member,
        unused-argument




[MISCELLANEOUS]

notes=FIXME,TODO


[BASIC]

good-names=i,e,_,db,f

bad-names=

include-naming-hint=yes


[EXCEPTIONS]

overgeneral-exceptions=Exception
